p There are {{users.length}} users
div(ng-repeat='user in users')
  h3 {{user.username}}
  div {{user.email}}
  a(href='/viewUser/{{user._id}}') More
  |  - 
  a(href='/editUser/{{user._id}}') Edit
  |  - 
  a(href='/deleteUser/{{user._id}}') Delete