!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel="stylesheet",href="/css/font-awesome.min.css")
    <!--[if IE 7]>
    link(rel="stylesheet", href="/css/font-awesome-ie7.min.css")
    <![endif]-->
    link(rel='stylesheet', href='/css/app/stylesheets/screen.css')

  body
    block body